
  .btn_platform{
    width: 200px;
    height: 50px;
    color:#fff;
    font-size:1.4rem;
    font-weight: 700;
    background-color: #198754;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgba(14, 224, 7, 0.5);
  }
  .btn_platform:hover{
    background-color: #fff;
    color: #198754;
    border: 1px solid #198754;
  }
