.sec-title{
    text-transform: uppercase;
    font-size:1.8rem;
    font-style: normal;
    font-weight: bold;
    color: #198754;
  } 
  .brief-para{
    font-size: 1.5rem;
    color: #000;
  }
  .btn-about{
    width: 200px;
    height: 50px;
    color:#fff;
    font-size:1.4rem;
    font-weight: 700;
    background-color: #198754;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgba(43, 224, 7, 0.5);
  }
  .btn-about:hover{
    background-color: #fff;
    color: #198754;
    border: 1px solid #198754;
  }
  .about-img{
    width: 100%;
    height: 100%;
  }
  