.nav-link {
  font-family: "roboto";
  font-weight: 300;
  font-size: 20px;
}
.nav-item{
  padding: 0.3rem;
}
.notifications i {
  font-size: 20px;
}
.dropdown-toggle::after {
  content: none;
}
/* .btn {
  padding: 8px;
  margin: 2px;
  color: black;
  background-color: ghostwhite;
  border-color: black;
} */
