.height_full{
  height: calc(100vh - 60px);
}

.carousel-item {
  height: 100%;
}

.carousel-indicators {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 2;
  padding: 0;
  margin-left: 12% !important;
}

.carousel-indicators [data-bs-target]{
  display: block;
  width: 10px !important;
  height: 74px !important;
  margin: 0.5rem;
  border: none !important;
  border-radius: 5px !important;
}
.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 900;
  font-size: 50px;
}
