.login_bg_color {
    background-color: rgb(197, 205, 211);
    height: calc(100vh - 60px);
}

.login_icon {
    color: #198754;
}

.signup_input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .signup_label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .signup_input:hover, .signup_input:focus, .signup_input-group:hover .signup_input {
    outline: none;
    border-color: #05060f;
  }
  
  .signup_input-group:hover .signup_label, .signup_input:focus {
    color: #05060fc2;
  }