@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  background-color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
}


.error-message {
  color: rgba(255, 0, 0, 0.788);
  margin: 8px;
}

.p-carousel-items-container {
  transform: translate3d(-100%, 0px, 0px) !important;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #FFA726;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  width: 1rem;
  height: 1rem;
}