@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  background-color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
}


.error-message {
  color: rgba(255, 0, 0, 0.788);
  margin: 8px;
}

.p-carousel-items-container {
  transform: translate3d(-100%, 0px, 0px) !important;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #FFA726;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon,.p-rating .p-rating-item .p-rating-icon.p-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #10D087;
  color: #10D087;
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: #10D087;
}
.p-datatable .p-datatable-header{
  background: #10D087;
  border: 1px solid #10D087;
  padding: 0;
}