@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{
  background-color: #fff;
    margin: 0;
    padding: 0;
}
.container-fluid{
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.underline_pri-title{
  text-transform: uppercase;
  font-size:1.3rem;
  font-style: normal;
  font-weight: bold;
  color:#000;
  text-decoration: underline;
  text-decoration-color: #198754;
  text-decoration-thickness: 5px;
}
.text_green{
  color:#198754;
}
.bg_green{
  background-color: #198754;
}

.error-message{
  color:rgba(255, 0, 0, 0.788);
  margin:8px;
}